# Librerías básicas y utilitarias
click==8.1.7
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
prettyconf==2.2.1
Pygments==2.18.0
rich==13.7.1
setuptools==69.5.1
shellingham==1.5.4
typer==0.12.3
typing_extensions==4.11.0

# Librerías para ciberseguridad y pentesting
scapy==2.5.0
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.2.1
pycryptodome==3.20.0
cryptography==38.0.4  # Versión compatible con mitmproxy
dnspython==2.6.1
impacket==0.11.0
yara-python==4.5.0
python-nmap==0.7.1
shodan==1.30.0
mitmproxy==9.0.1  # Versión estable compatible con cryptography 38.0.4
pdfminer.six==20231228

# Librerías específicas para análisis forense
volatility3 @ git+https://github.com/volatilityfoundation/volatility3.git  # Instalación desde GitHub
pefile>=2024.8.26  # Actualizado para compatibilidad con volatility3

# Herramientas de machine learning y análisis de datos
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.2
matplotlib==3.8.3
seaborn==0.13.2

# Librería para ejecución de comandos en sistemas Linux/Windows
pwn==1.0.0


# Dependencia personalizada del repositorio
# pycheck @ git+ssh://git@github.com/sdelquin/pycheck/tree/main/src/pycheck#main
